 <br>
 <h3>Reportes</h3>
 <div id="cuadroexportar" style="display:inline-table;" >
   <fieldset>
    <div ng-hide="true" class="input-group">
      <label ng-hide="true">Año:</label><select class="form-control" ng-model="exportarDate.year" ng-change="yearChange()" ng-options="year.year as year.year for year in $parent.listaYearsConClientes"></select>
      <br>
      <label ng-hide="true">Mes:</label><select class="form-control" ng-disabled="exportarDate.year === undefined" ng-model="exportarDate.month" ng-options="mes.month as mes.month for mes in listaMesesConClientes"></select>
    </div>
  </fieldset>
  <br>
  <div>
      <a ng-href="http://localhost:8081/rest/clienteService/exportAll">
      <button style="width: 100%;" class="btn btn-primary">Clientes</button></a>
  </div>
  <div >
      <a ng-href="http://localhost:8081/rest/arriendoService/exportAll">
      <button style="width: 100%;" class="btn btn-primary">Hospedajes</button></a>
  </div>
  <div >
      <a ng-href="http://localhost:8081/rest/servicioService/exportAllCount">
      <button style="width: 100%;" class="btn btn-primary">Servicios Por Consumo</button></a>
  </div>
</div>
