<div class="box">
  <form name="addSportForm" class="form">

    <div class="forminput">
      <span class="tittleinput">Nombre:</span>
      <span class="error" ng-show="addSportForm.name.$valid === false && addPressed === false">¡Cuidado, te falta este campo!</span>
      <input type="text" name="name" id="name" ng-model="sport.name" maxlength="45" required></input>
    </div>

    <div class="forminput">
      <span class="tittleinput">Número de jugadores por equipo:</span>
      <span class="error" ng-show="addSportForm.numberPlayers.$valid === false && addPressed === false">¡Cuidado, te falta este campo!</span>
      <input type="text" name="numberPlayers" id="numberPlayers" ng-model="sport.numberPlayers" maxlength="2" number required></input>
    </div>

    <div class="forminput">
      <span class="tittleinput">Número de tiempos:</span>
      <span class="error" ng-show="addSportForm.numberTimes.$valid === false && addPressed === false">¡Cuidado, te falta este campo!</span>
      <input type="text" name="numberTimes" id="numberTimes" ng-model="sport.numberTimes" maxlength="2" number required></input>
    </div>

    <div class="forminput">
      <span class="tittleinput">Tiempo por cada parte:</span>
      <span class="error" ng-show="addSportForm.timeTimes.$valid === false && addPressed === false">¡Cuidado, te falta este campo!</span>
      <input type="text" name="timeTimes" id="timeTimes" ng-model="sport.timeTimes" maxlength="2" number required></input>
    </div>

  </form>

  Estadísticas de Equipo:
  <ol ng-show="sport.sportStatistics.length > 0">
    <li ng-repeat="s in sport.sportStatistics track by $index">
      <div>
        {{s.name}}<button ng-click="sport.sportStatistics.splice($index,1)">-</button>
      </div>
    </li>
  </ol>
  <div>
    <input maxlength="45" type="text" ng-model="sportStatistic"></input>
    <button ng-click="addSportStatistic()">+</button>
  </div>

  Estadísticas de Jugador:
  <ol ng-show="sport.playerStatistics.length > 0">
    <li ng-repeat="s in sport.playerStatistics track by $index">
      <div>
        {{s.name}}<button ng-click="sport.playerStatistics.splice($index,1)">-</button>
      </div>
    </li>
  </ol>
  <div>
    <input maxlength="45" type="text" ng-model="playerStatistic"></input>
    <button ng-click="addPlayerStatistic()">+</button>
  </div>


  <button type="button" class="button" ng-click="add()">Agregar</button>

</div>
