<h2 ng-hide="isEditing == true">Editar Servicios</h2>
<table ng-hide="isEditing == true" class="table table-striped">
 <thead>
   <tr>
   
     <th><center><h3>ID</h3></center></th> 
     <th><center><h3>Nombre</h3></center></th> 
     <th><center><h3>Precio</h3></center></th>
    
   </tr>
 </thead>
   <tr ng-repeat="servicio in serviciosDisponibles">
     <td>{{servicio.id}}</td>
     <td>{{servicio.nombre}}</td>
     <td>{{servicio.valor | currency}}</td>
     <td><button class="btn btn-warning"  ng-click="goEditar(servicio)">Editar</button></td>
     <td><button class="btn btn-danger" ng-click="desactivar(servicio)">Desactivar</button></td>
   </tr>
 </tbody>
</table>

<div ui-view="editar">

</div>
