<h2>Editar Servicios</h2>
<table class="table table-striped">
 <thead>
   <tr>
   <center>
     <th>ID</th>
     <th>Nombre</th>
     <th>Precio</th>
     </center>
   </tr>
 </thead>
   <tr ng-repeat="servicio in serviciosDisponibles">
     <td>{{servicio.id}}</td>
     <td>{{servicio.nombre}}</td>
     <td>{{servicio.valor | currency}}</td>
     <td><button class="btn btn-warning"  ng-click="goEditar(servicio)">Editar</button></td>
     <td><button class="btn btn-danger" ng-click="desactivar(servicio)">Desactivar</button></td>
   </tr>
 </tbody>
</table>

<div ui-view="editar">

</div>
