<div id="servicios">

 <h3 ng-if="isEditing == false">Registrar Servicio </h3>
 <h3 ng-if="isEditing == true">Editar Servicio </h3>

  <div class="panel-body">

    <div class="input-group">
      <label style="color: red;"  ng-if="erroresFormularioRegistro[0]">Falta diligenciar el Nombre </label>
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input  class="form-control" maxlength="100" type="text" placeholder="Nombre del Servicio Adicional" ng-model="Servicio.nombre" ></input>
    </div>

    <div class="input-group">
      <label style="color: red;"  ng-if="erroresFormularioRegistro[1]">Falta diligenciar el Precio</label>
      <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
      <input number class="form-control" maxlength="100" type="text" placeholder="Precio del Servicio Adicional" ng-model="Servicio.valor" ></input>
    </div>

    <div class="form-group">
      <button ng-if="isEditing == false" class="btn btn-lg btn-primary btn-block" ng-click="registrar()">Registrar</button>
      <button ng-if="isEditing == true" class="btn btn-lg btn-warning btn-block" ng-click="actualizar()">Editar</button>
    </div>

  </div>

</div>
