<div id="servicios">
<h3>Registrar Servicio</h3>

<div class="panel-body">

  <div class="input-group">
    <label style="color: red;"  ng-if="erroresFormularioRegistro[0]">Falta diligenciar el Nombre </label>
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  class="form-control" maxlength="100" type="text" placeholder="Nombre del Servicio Adicional" ng-model="Servicio.nombre" ></input>
  </div>

  <div class="input-group">
    <label style="color: red;"  ng-if="erroresFormularioRegistro[1]">Falta diligenciar el Precio</label>
    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
    <input class="form-control" maxlength="100" type="text" placeholder="Precio del Servicio Adicional" ng-model="Servicio.valor" ></input>
  </div>
  
  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" ng-click="registrar()">Registrar</button>
  </div>
  


   <div ng-controller="servicioController"class="row small-up-2 medium-up-2 large-up-4">
  <h2>Editar Servicios</h2>        
  <table class="table table-striped">
    <thead>
      <tr>
      <center>
        <th>ID</th>
        <th>Nombre</th>       
        <th>Precio</th>
        </center>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="Servicio in serviciosDisponibles">
        <td>{{Servicio.id}}</td>
        <td>{{Servicio.nombre}}</td>
        <td>$ {{Servicio.valor}}</td>
        <td><button class="btn btn-info"  ng-click="">Editar</button></td>  
        <td><button class="btn btn-danger" ng-click="">Eliminar</button></td>              
      </tr>      
    </tbody>
  </table>
</div>
</div>
</div>


      <div id="contenedorservicios"ng-controller="servicioController">	           
	      <div id="serviciosdisponibles">
	        <h3>Servicios Disponibles</h1>	        
	          <div id="servicioitem" class="btn-group" data-toggle="buttons" ng-repeat="servicio in serviciosDisponibles">
	            <label  class="btn btn-lg btn-success" ng-class="{active: habitacionSeleccionada.id == habitacion.id}" ng-click="">
	              <label>{{servicio.nombre}}</label> <br> $ {{servicio.valor}} 
	            </label>
	          </div>
	      </div>
	      </div>