
<div>Nombre : {{$parent.sport.name}}</div>
<div>Número de Jugadores por Equipo : {{$parent.sport.numberPlayers}}</div>
<div>Número de Tiempos : {{$parent.sport.numberTimes}}</div>
<div>Tiempo por cada parte : {{$parent.sport.timeTimes}}</div>
<div>Estadísticas de Equipo :
<div ng-repeat="statisticSport in $parent.sport.sportStatistics">{{statisticSport.name}}</div></div>

<div>Estadísticas de Jugador :
<div ng-repeat="statisticPlayer in $parent.sport.playerStatistics">{{statisticPlayer.name}}</div></div>
<div><button class="button" type="button" ng-click="openEdit()">Editar</button></div>
<div ui-view></div>
