<div id="menuppal">
  <div class="btn-group btn-group-lg">
    <button class="btn btn-default" ng-click="goCheckinMenu()">Check-in</button>
    <button class="btn btn-default" ng-click="goCheckOut()">Check-out</button>
    <button class="btn btn-default" ng-click="goServiciosAdicionales()">Servicios Adicionales</button>
    <button class="btn btn-default" ng-click="goAdministracion()">Administración</button>
  </div>
</div>
<div align="center" id="content">
  <div ui-view="content"> </div>
</div>
