<div>app</div>
<div id="header">
<button ng-click="goCheckin()">Check-in</button>
<button ng-click="">Check-out</button>
<button ng-click="goRegistrarCliente()">Registrar Cliente</button>
<button ng-click="goRegistrarHabitacion()">Registrar Habitacion</button>
</div>

<div id="content" style="display: flex">
  Contenido1:
  <div ui-view="content" style="max-width: 50%">Aquí debe de ir un formulario cuando apretemos el botón</div>
  Contenido2:
  <div ui-view="content2" style="max-width: 50%">Aquí se listarán los clientes</div>
</div>
