#header {
  background-image: url(/resources/statics/images/logo.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 100px;
  height: 180px;
}

@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    background: url(/resources/statics/images/logo.png) no-repeat center;
    min-height: 300px;
  }
  #printSectionChild{
    width: 62%;
    margin: 0 auto;
    background: url(/resources/statics/images/logo.png) no-repeat center;
  }
}
