#header {
  background-image: url(/resources/statics/images/logo.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 100px;
  height: 180px;
}
