#header {
  background-image: url(/resources/statics/images/logo.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 100px;
  height: 180px;
}

#fondo{
  background-color: #f7f7f7;
  margin-left: 10%;
  margin-right: 10%;
}

#contenedorhabitaciones{
margin: 0 auto;
position: relative;
width: auto;
height: auto;
padding-top: 20px;

}
#item{

padding-right: 5px;
padding-bottom: 5px;
width: 50%;
}
#servicioitem{

padding-right: 5px;
padding-bottom: 5px;

}

#content{
margin-left: 10%;
margin-right: 10%;
padding-bottom: 15px;
}

#separador{
	height: 2.5px;
    margin-top: 5px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
	background-color: 8f6b00;
}
#menuppal{
  text-align: center;
  padding-top: 10px;
}
#servicios{
padding-top:30px;
}

#habitacion{

padding-top:30px;
}


#disponibles{
width:50%;
height:auto;
float: left;
}

#ocupadas{
width:50%;
height:auto;
float: right;
}

@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    background: url(/resources/statics/images/logo.png) no-repeat center;
    min-height: 300px;
  }
  #printSectionChild{
    width: 62%;
    margin: 0 auto;
    background: url(/resources/statics/images/logo.png) no-repeat center;
  }


}
