#header {
  background-image: url(/resources/statics/images/ucoheader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  height: 125px;
}
