<div style="display: inline-grid;" ng-show="arriendoActivos.length > 0">

  <h3>Verificar Registro del Cliente</h3>
   <div class="input-group">
  <fieldset ng-disabled="seBloqueanLosCamposDeCedula">
    <label>Tipo de Documento:</label>

    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
    <select  class="form-control" placeholder="Tipo de Identificación"ng-model="tipodocumento" ng-change="validarEnTiempoRealCamposCedula()"
      ng-options="tipo.id as tipo.nombre for tipo in listaTiposDocumentos"></select>

    <span class="input-group-addon"><i class="glyphicon glyphicon-copyright-mark"></i></span>
    <input class="form-control" number placeholder="Número de Identificación" type="text" ng-change="validarEnTiempoRealCamposCedula()" maxlength="10" number ng-model="cedulaVerificar" ></input>

    <span class="input-group-addon"><i class="glyphicon glyphicon-copyright-mark"></i></span>
    <input class="form-control" number placeholder="Confirmación de Número" type="text" ng-change="validarEnTiempoRealCamposCedula()"  maxlength="10" number  ng-model="confirmacionCedula"></input>

  </fieldset>
  </div>
  <div class="form-group">
  <button type="button" class="btn btn-primary" ng-click="reset()">Nueva Verificación </button>
</div>
<div ng-if="mostrarVistaRegistro()">
  <div ui-view="registro" style="display: flex;"></div>
</div>
<div ng-show="mostrarVistaCheckIn()">
    <h3>Para la habitación:</h3>
    <div>
      <div class="btn-group" data-toggle="buttons">
        <label ng-repeat="arriendo in arriendoActivos" class="btn btn-default" ng-class="{active: arriendoSeleccionado.id == arriendo.id}" ng-click="">
          <input type="radio" ng-click="openArriendo(arriendo)"></input>
          <label>Check-in:</label> <br> {{arriendo.id}} <br> Cliente: {{arriendo.clienteId}} <br> Habitacion: {{arriendo.habitacionId}}
        </label>
      </div>
    </div>
    <br>
    <div>
      <button class="btn btn-primary" ng-click="finishAddAcompanante()">
        Agregar
      </button>
      <button class="btn btn-danger" ng-click="reset()">
        Cancelar
      </button>
    </div>
</div>
