<div style="display: inline-grid;" ng-show="habitacionesDisponibles.length > 0">

  <h3>Verificar Registro del Cliente</h3>
   <div class="input-group">
  <fieldset ng-disabled="seBloqueanLosCamposDeCedula">
    <label>Tipo de Documento:</label>
    
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
    <select  class="form-control" placeholder="Tipo de Identificación"ng-model="tipodocumento" ng-change="validarEnTiempoRealCamposCedula()"
      ng-options="tipo.id as tipo.nombre for tipo in listaTiposDocumentos"></select>
          
    <span class="input-group-addon"><i class="glyphicon glyphicon-copyright-mark"></i></span>
    <input class="form-control" number placeholder="Número de Identificación" type="text" ng-change="validarEnTiempoRealCamposCedula()" maxlength="10" number ng-model="cedulaVerificar" ></input>
   
    <span class="input-group-addon"><i class="glyphicon glyphicon-copyright-mark"></i></span>
    <input class="form-control" number placeholder="Confirmación de Número" type="text" ng-change="validarEnTiempoRealCamposCedula()"  maxlength="10" number  ng-model="confirmacionCedula"></input>
	  
  </fieldset>
  </div>
  <div class="form-group">
  <button type="button" class="btn btn-primary" ng-click="reset()">Nueva Verificación </button>
</div>
  <div ng-if="mostrarVistaRegistro()">
    <div ui-view="registro" style="display: flex;"></div>
  </div>

  <div ng-show="mostrarVistaCheckIn()">

    <div>Se realizará el check-in para el/la señor/a {{cliente.nombreCompleto}}</div>

    <div>
        <label>
          ¿Número de noches definidas?:
          <input class="form-control" type="checkbox" ng-model="conoceElNumeroDeNoches.value"
             ng-true-value="'SI'" ng-false-value="'NO'">
        </label>
        <div ng-show="conoceElNumeroDeNoches.value == 'SI'">
          <label>Número de Noches:</label>
          <input class="form-control" number type="text" maxlength="2" ng-model="numeroNoches"></input>
          <button class="btn btn-warning" ng-click="numeroNoches = 0">
            Limpiar
          </button>
        </div>
    </div>

      <div>
        <label>Número de Acompañantes:</label>
        <input class="form-control" number type="text" maxlength="2" ng-model="numeroAcompanantes"></input>
        <button class="btn btn-warning" ng-click="limpiarAcompanantes()">
          Limpiar
        </button>
      </div>

      <div ng-show = "numeroAcompanantes > 0">
        <label>Acompañantes registrados: {{acompanantes.length}}</label>
        <div>
          <label>Acompañantes:</label>
          <div ng-repeat="acompanante in acompanantes">
            {{acompanante.id.id}} - {{acompanante.nombreCompleto}}
          </div>
          <button ng-show = "numeroAcompanantes != acompanantes.length"  class="btn btn-primary" ng-click="setRegistarAcompanante()">
            Registrar Acompañante
          </button>
          <div ng-show="registarAcompanante && numeroAcompanantes != acompanantes.length">
            <div>Verificar Registro del Cliente</div>
            <fieldset ng-disabled="seBloqueanLosCamposDeCedulaAcompanante">
              <label>Tipo de Documento:</label>
              <select class="form-control" ng-model="tipodocumentoAcompanante" ng-change="validarEnTiempoRealCamposCedulaAcompanante()"
                ng-options="tipo.id as tipo.nombre for tipo in listaTiposDocumentos"></select>
              <input class="form-control" number placeholder="Número de Identificación" type="text" ng-change="validarEnTiempoRealCamposCedulaAcompanante()" maxlength="10" number ng-model="cedulaVerificarAcompanante" ></input>
              <input class="form-control" number placeholder="Confirmación de Número" type="text" ng-change="validarEnTiempoRealCamposCedulaAcompanante()"  maxlength="10" number  ng-model="confirmacionCedulaAcompanante"></input>
            </fieldset>
            <button ng-show = "acompanante"  class="btn btn-primary" ng-click="anadirAcompanante()">
              Añadir
            </button>
            <button  class="btn btn-danger" ng-click="cancelarAnadir()">
              Cancelar
            </button>
            <div ui-view="registroAcompanante" style="display: flex;"></div>

          </div>
        </div>
      </div>

      <div>
        <label>Habitaciones Disponibles</label>
        <div>
          <div class="btn-group" data-toggle="buttons">
            <label id="itemhab" ng-repeat="habitacion in habitacionesDisponibles | filter:filtrarPorCapacidad()" class="btn btn-primary" ng-class="{active: habitacionSeleccionada.id == habitacion.id}" ng-click="">
              <input type="radio" ng-click="openHabitacion(habitacion)"></input>
              <label>{{habitacion.id}}</label> <br> {{habitacion.nombre}} <br> Capacidad: {{habitacion.capacidad}} <br> Precio: {{habitacion.precio}}
            </label>
          </div>
        </div>
      </div>

      <div style="display: grid;" id="printThis">
        <div id = "printSectionChild">      
        <div  ng-show="isprinting==true" id="logocheckin">logo</div>
           <h3>Check-in</h3>
          <div><label>Cliente:</label> {{cliente.nombreCompleto}}</div>
          <div ng-if="habitacionSeleccionada.id"><label>Habitacion:</label> {{habitacionSeleccionada.id}} - {{habitacionSeleccionada.nombre}} <br> </div>
          <div ng-if="habitacionSeleccionada.id"><label>Valor por noche:</label> {{habitacionSeleccionada.precio | currency}} <br> </div>
          <div ng-if="numeroNoches > 0 && habitacionSeleccionada.precio">
            <label>Valor total a pagar en el checkout:</label> {{habitacionSeleccionada.precio * numeroNoches | currency}}
            <br>
          </div>
          <div ng-if="numeroNoches == 0">
            <label>Valor total a pagar en el checkout:</label> El valor dependerá de la fecha de salida.
            <br>
          </div>

          <div><label>Acompañantes:</label>
            <label ng-show="acompanantes.length > 0 ">Número de acompañantes: {{acompanantes.length}} <br></label>
            <div ng-show="acompanantes.length > 0 " ng-repeat="acompanante in acompanantes">
              {{acompanante.id.id}} - {{acompanante.nombreCompleto}}
              <br>
            </div>
            <div ng-show="acompanantes.length == 0 ">
              Sin Acompañantes
              <br>
            </div>
          </div>
          <div ng-if="arriendo.id"><label>Check-in:</label> {{arriendo.id}} - {{arriendoFecha}} <br> </div>

          <br>
        </div>
    </div>

    <div>
      <button class="btn btn-primary" ng-click="finishCheckIn()">
        Check-in
      </button>
      <button class="btn btn-danger" ng-click="reset()">
        Cancelar
      </button>
    </div>

  </div>
</div>
