<h2>Activar Servicios</h2>
<table class="table table-striped">
 <thead>
   <tr>
   <center>
     <th>ID</th>
     <th>Nombre</th>
     <th>Descripcion</th>     
     <th>Precio</th>
     </center>
   </tr>
 </thead>
   <tr ng-repeat="habitacion in habitacionesInactivas">
     <td>{{habitacion.id}}</td>
     <td>{{habitacion.nombre}}</td>
     <td>{{habitacion.descripcion}}</td>     
     <td>{{habitacion.precio | currency}}</td>
     <td><button class="btn btn-success" ng-click="activar(habitacion)">Activar</button></td>
   </tr>
 </tbody>
</table>

<div ui-view="editar">

</div>
