<div ng-controller="habitacionController"class="row small-up-2 medium-up-2 large-up-4">
  <h2 ng-hide="isEditing == true">Editar Habitaciones</h2>        
  <table ng-hide="isEditing == true" class="table table--striped">
    <thead>
      <tr>
         <th><center><h3>Numero</h3></center></th> 
         <th><center><h3>Nombre</h3></center></th> 
         <th><center><h3>Descripcion</h3></center></th> 
         <th><center><h3>Precio</h3></center></th>       
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="Habitacion in habitacionesDisponibles">
        <td>{{Habitacion.id}}</td>
        <td>{{Habitacion.nombre}}</td>
        <td>{{Habitacion.descripcion}}</td>
        <td>{{Habitacion.precio| currency}}</td>
        <td><button class="btn btn-warning"  ng-click="goEditar(Habitacion)">Editar</button></td>
     	<td><button class="btn btn-danger" ng-click="desactivar(Habitacion)">Desactivar</button></td>
      </tr>      
    </tbody>
  </table>
  <div ui-view="editar">
  
</div>