<div>

  <br>

  <h4>Facturación para hospejades con noches pre-definidas.</h4>

  <br>
  <label>Checkin Activos con Noches Pre-definidas y sin Factura.</label>
  <br>
  <div>
    <div class="btn-group" data-toggle="buttons">
      <label ng-repeat="arriendo in arriendoActivos | filter:nochesDefinidas()" class="btn btn-default" ng-class="{active: arriendoSeleccionado.id == arriendo.id}"  ng-click="openArriendo(arriendo)">
        <input type="radio"></input>
        <label>Check-in:</label> <br> {{arriendo.id}} <br> Cliente: {{arriendo.clienteId}} <br> Habitacion: {{arriendo.habitacionId}}
      </label>
    </div>
  </div>
  <br>

    <div ng-show = "mostrarMediosPago()" style="
    border-style: groove;
    border-radius: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    ">

      <h4>Detalles de la facturación</h4>
      <div style="display: table; text-align: left; width: 80%;">
        <div style="display: table-row">
          <div style="display: table-cell">
            <label>Cliente:</label>
          </div>
          <div style="display: table-cell">
            {{arriendoSeleccionado.cliente.nombreCompleto}}
          </div>
        </div>
        <div style="display: table-row">
          <div style="display: table-cell">
            <label>Cédula:</label>
          </div>
          <div style="display: table-cell">
            {{arriendoSeleccionado.cliente.id.id}}
          </div>
        </div>
        <div style="display: table-row">
          <div style="display: table-cell">
            <label>Habitación:</label>
          </div>
          <div style="display: table-cell">
            {{arriendoSeleccionado.habitacionId}}
          </div>
        </div>
        <div style="display: table-row">
          <div style="display: table-cell">
            <label>Precio Habitación:</label>
          </div>
          <div style="display: table-cell">
            {{arriendoSeleccionado.habitacion.precio | currency}}
          </div>
        </div>
        <div style="display: table-row">
          <div style="display: table-cell">
            <label>Fecha Check-in:</label>
          </div>
          <div style="display: table-cell">
            {{arriendoSeleccionado.dateCheckin | date:"yyyy/MM/dd 'a las' h:mma"}}
          </div>
        </div>
        <div style="display: table-row">
          <div style="display: table-cell">
            <label>Fecha Fin Noches Definidas:</label>
          </div>
          <div style="display: table-cell">
            {{fechaSalida | date:"yyyy/MM/dd 'a las' h:mma"}}
          </div>
        </div>
        <div style="display: table-row">
          <div style="display: table-cell">
            <label>Fecha Check-out:</label>
          </div>
          <div style="display: table-cell" ng-show="arriendoSeleccionado.dateCheckout !== null">
            {{arriendoSeleccionado.dateCheckin | date:"yyyy/MM/dd 'a las' h:mma"}}
          </div>
          <div style="display: table-cell" ng-show="arriendoSeleccionado.dateCheckout === null">
            Aún sin Check-out
          </div>
        </div>
        <div style="display: table-row">
          <div style="display: table-cell">
            <label>Número de noches definidas en check-in:</label>
          </div>
          <div style="display: table-cell">
            {{arriendoSeleccionado.numeroNoches}}
          </div>
        </div>
        <div style="display: table-row">
          <div style="display: table-cell">
            <label>Total a pagar por hospedaje:</label>
          </div>
          <div style="display: table-cell">
            <label>{{arriendoSeleccionado.numeroNoches * arriendoSeleccionado.habitacion.precio | currency}}</label>
          </div>
        </div>
        <div style="display: table-row" ng-show="arriendoSeleccionado.clienteConsumo !== null">
          <div style="display: table-cell">
            <label>Detalle Servicios Adicionales:</label>
          </div>
          <div style="display: table-cell"></div>
        </div>
        <div style="display: table-row" ng-repeat="consumo in arriendoSeleccionado.clienteConsumo.consumos track by $index">
          <div style="display: table-cell">
            {{consumo.nombre}}
          </div>
          <div style="display: table-cell">
            {{consumo.valor | currency}}
          </div>
        </div>
        <div style="display: table-row">
          <div style="display: table-cell">
            <label>Saldo Servicios Adicionales:</label>
          </div>
          <div style="display: table-cell" ng-show="arriendoSeleccionado.clienteConsumo !== null">
            <label>{{arriendoSeleccionado.clienteConsumo.saldo | currency}}</label>
          </div>
          <div style="display: table-cell" ng-show="arriendoSeleccionado.clienteConsumo === null">
            Sin consumos de servicios adicionales.
          </div>
        </div>
        <br>
        <div style="display: table-row">
          <div style="display: table-cell">
            <label>Total a Pagar:</label>
          </div>
          <div style="display: table-cell">
            <label>{{(arriendoSeleccionado.numeroNoches * arriendoSeleccionado.habitacion.precio) + arriendoSeleccionado.clienteConsumo.saldo | currency}}</label>
          </div>
        </div>
      </div>
    </div>

    <div ng-show = "mostrarMediosPago()" style="
    border-style: groove;
    border-radius: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    ">

      <h4>Medios de Pago</h4>

      <div>
        <label>Monto a pagar: </label>
        <div>{{totalMonto | currency}}</div>
      </div>
      <br>

      <div style="display: table-row;" ng-hide="mediospagoseleccionados.length === mediospago.length">
        <div style="display: table-cell;">Añadir Medio de Pago</div>
        <select  style="display: table-cell; margin-right: 10px;margin-left: 10px;" ng-model="mediopagoAnadido" ng-options="mediopago.nombre for mediopago in mediospago | filter: yaFueAnadido()"></select>
        <label style="display: table-cell; margin-right: 10px;margin-left: 10px;"  class="btn btn-default" ng-click="addMedioPago(mediopagoAnadido)">
            Añadir
        </label>
      </div>

      <div style="display: table; width: 100%">

        <br>
        <div style="display: table-row;" ng-show="mediospagoseleccionados.length === 0 ">Sin medios de pago añadidos.</div>
        <div ng-repeat="mediopago in mediospagoseleccionados track by $index" style="display: table-row;">
          <div style="display: table-cell;">{{mediopago.nombre}}</div>
          <input style="display: table-cell; margin-right: 10px;margin-left: 10px;" number value="totalMonto" ng-model="valoresMediosPago[$index]" ng-change="updateMedioPago($index)" type="text" ></input>
          <input style="display: table-cell; margin-right: 10px;margin-left: 10px;" number ng-model="bauches[$index]" ng-change="updateMedioPago($index)" placeholder="*Número de Bauche" ng-disabled="mediopago.needBauche === false" type="text"></input>
          <label ng-show="totalMonto - mediosPagoMonto > 0" style="display: table-cell" class="btn btn-default" ng-click="completarMedioPago($index)">
              Completar
          </label>
          <label style="display: table-cell" class="btn btn-default" ng-click="limpiarMedioPago($index)">
              Limpiar
          </label>
          <label style="display: table-cell" class="btn btn-default" ng-click="deleteMedioPago($index)">
              Quitar
          </label>
        </div>
      <br>
    </div>

    <div>
      <br>
      <label ng-show="totalMonto - mediosPagoMonto > 0">Restante:</label>
      <label ng-show="totalMonto - mediosPagoMonto < 0">Devuelta:</label>
      <div ng-show="totalMonto - mediosPagoMonto > 0"> {{totalMonto - mediosPagoMonto | currency}} </div>
      <div ng-show="totalMonto - mediosPagoMonto < 0"> {{(totalMonto - mediosPagoMonto)*-1 | currency}} </div>
    </div>

  </div>

  <div ng-show="mostrarBotonFactura()">
    <br>
    <button class="btn btn-primary" ng-click="finishFactura()">
      Facturar
    </button>
    <button class="btn btn-danger" ng-click="init()">
      Cancelar
    </button>
  </div>

  <br>

  <div ng-show="arriendoSeleccionado !== undefined">

    <label>Factura resultante para la impresión:</label>

    <div style="display: table; text-align: left; margin: 0 auto;" id="printThis">
      <div id = "printSectionChild">
        <div style="margin: 0 0 0 70px; width: 100%;">
          <img src="./resources/statics/images/logo.png" style="position: absolute; opacity: 0.3;" height="200" width="200">
        </div>
        <div style="text-align: center;">
          <label>
            FACTURA
          </label>
        </div>
        <div style="text-align: center;">
          <label>
            HOTEL TURIN - La Ceja
          </label>
        </div>
        <div style="text-align: center;">
          <div>
            RNT: 25465
          </div>
        </div>
        <br>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Fecha Facturación:
          </label>
          <div style="display: table-cell;">
            {{facturaResultante.fecha | date:'yyyy-MM-dd hh:mm a'}}
          </div>
        </div>
        <br>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Factura:
          </label>
          <div style="display: table-cell;">
            {{facturaResultante.id}}
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Nombre:
          </label>
          <div style="display: table-cell;">
            {{arriendoSeleccionado.cliente.nombreCompleto}}
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Cédula:
          </label>
          <div style="display: table-cell;">
            {{arriendoSeleccionado.cliente.id.id}}
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Fecha Check-in:
          </label>
          <div style="display: table-cell;">
            {{arriendoSeleccionado.dateCheckin | date:'yyyy-MM-dd hh:mm a'}}
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Número de Noches Definidas:
          </label>
          <div style="display: table-cell;">
            {{arriendoSeleccionado.numeroNoches}}
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Fecha Fin Noches Definidas:
          </label>
          <div style="display: table-cell;">
            {{fechaSalida | date:"yyyy-MM-dd hh:mm a"}}
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Fecha Check-out:
          </label>
          <div style="display: table-cell" ng-show="arriendoSeleccionado.dateCheckout !== null">
            {{arriendoSeleccionado.dateCheckin | date:"yyyy/MM/dd 'a las' h:mma"}}
          </div>
          <div style="display: table-cell" ng-show="arriendoSeleccionado.dateCheckout === null">
            Sin Check-out
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Habitacion:
          </label>
          <div style="display: table-cell;">
            {{arriendoSeleccionado.habitacion.id}}
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Precio Habitacion:
          </label>
          <div style="display: table-cell;">
            {{arriendoSeleccionado.habitacion.precio | currency}}
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Precio Total Hospedaje
          </label>
          <div style="display: table-cell;">
            {{(arriendoSeleccionado.numeroNoches * arriendoSeleccionado.habitacion.precio) | currency}}
          </div>
        </div>
        <div style="display: table-row;" ng-show="arriendoSeleccionado.clienteConsumo !== null">
          <label style="display: table-cell;">
            Servicios Adicionales:
          </label>
          <div style="display: table-cell;">
          </div>
        </div>
        <div style="display: table-row;" ng-repeat="servicio in arriendoSeleccionado.clienteConsumo.consumos track by $index">
          <div style="display: table-cell;">
          </div>
          <div style="display: table-cell;">
            {{servicio.nombre}}
          </div>
          <div style="display: table-cell;">
            {{servicio.valor | currency}}
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Total Servicios Adicionales:
          </label>
          <div style="display: table-cell;">
          </div>
          <div style="display: table-cell;">
            {{arriendoSeleccionado.clienteConsumo.saldo | currency}}
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Devuelta:
          </label>
          <div style="display: table-cell;" ng-show="totalMonto - mediosPagoMonto < 0">
            {{(totalMonto - mediosPagoMonto)*-1 | currency}}
          </div>
          <div style="display: table-cell;" ng-show="totalMonto - mediosPagoMonto >= 0">
            $0.00
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Medios de Pago:
          </label>
          <div style="display: table-cell;">
          </div>
        </div>
        <div style="display: table-row;" ng-repeat="medioPago in mediospagoseleccionados track by $index">
          <div style="display: table-cell;">
          </div>
          <div style="display: table-cell;">
            {{medioPago.nombre}}
          </div>
          <div style="display: table-cell;">
            {{medioPago.valor | currency}}
            <br>
            <div ng-if="medioPago.needBauche == true">#Num Bauche: {{medioPago.numBauche}}</div>
          </div>
        </div>
        <div style="display: table-row;">
          <label style="display: table-cell;">
            Total a Pagar:
          </label>
          <div style="display: table-cell;">
            {{totalMonto | currency}}
          </div>
        </div>
        <br>
        <div style="text-align: center;">
          <div>
            Telefono: 5683199
          </div>
        </div>
        <div style="text-align: center;">
          <div>
            Correo: hotelturin17@gmail.com
          </div>
        </div>
        <div style="text-align: center;">
          <div>
            Instagram/Facebook: @hotelturinlaceja
          </div>
        </div>
        <div style="text-align: center;">
          <div>
            Dirección: Calle 19 #21-55
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
