<div style="display: inline-grid;" ng-show="serviciosDisponibles.length > 0">

<br>
<h4>Agregar Servicio Adicional</h4>

  <fieldset ng-disabled="seBloqueanLosCamposDeCedula" ng-show="cliente === null">
    <h4>Consumo por Cliente sin Check-in Activo</h4>
    <label>Tipo de Documento:</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
      <select  class="form-control" placeholder="Tipo de Identificación" ng-model="tipodocumento" ng-change="validarEnTiempoRealCamposCedula()"
        ng-options="tipo.id as tipo.nombre for tipo in listaTiposDocumentos"></select>

      <span class="input-group-addon"><i class="glyphicon glyphicon-copyright-mark"></i></span>
      <input class="form-control" number placeholder="Número de Identificación" type="text" ng-change="validarEnTiempoRealCamposCedula()" maxlength="10" number ng-model="cedulaVerificar" ></input>

      <span class="input-group-addon"><i class="glyphicon glyphicon-copyright-mark"></i></span>
      <input class="form-control" number placeholder="Confirmación de Número" type="text" ng-change="validarEnTiempoRealCamposCedula()"  maxlength="10" number  ng-model="confirmacionCedula"></input>
    </div>
  </fieldset>

  <div ng-if="mostrarVistaRegistro()">
    <div ui-view="registro" style="display: flex;"></div>
  </div>

  <div ng-show="cliente === null && arriendoActivos.length > 0">
    <h4>o</h4>

    <h4>Consumo por Check-in</h4>

    <div>
      <div class="btn-group" data-toggle="buttons">
        <label ng-repeat="arriendo in arriendoActivos" class="btn btn-default" ng-class="{active: arriendoSeleccionado.id == arriendo.id}" ng-click="openArriendo(arriendo)">
          <input type="radio"></input>
          <label>Check-in:</label> <br> {{arriendo.id}} <br> Cliente: {{arriendo.clienteId}} <br> Habitacion: {{arriendo.habitacionId}}
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <br>
    <button type="button" class="btn btn-primary" ng-click="init()">Nueva Consulta</button>
  </div>

  <div style="
  border-style: groove;
  border-radius: 6px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  " ng-show="mostrarVistaServicioAdicional()">

    <div >
      <h4 ng-if="cliente.nombreCompleto !== undefined">Servicios Adicionales a consumir por el/la señor/a {{cliente.nombreCompleto}}.</h4>
      <h4 ng-if="arriendoSeleccionado !== undefined">Servicios Adicionales a consumir por la habitacion {{arriendoSeleccionado.habitacionId}}</h4>
      <br>
    </div>

    <div style="display: table; width: 100%;">

      <div style="
      display: table-cell;
      width: 420px;
      max-width: 420px;">
        <div data-toggle="buttons">
          <label ng-repeat="servicio in serviciosDisponibles" class="btn btn-default" ng-click="addServicio(servicio)">
            <label>{{servicio.nombre}}</label> <br> {{servicio.valor | currency}}
          </label>
        </div>
        <br>
        <label class="btn btn-default" ng-click="limpiarServicios()">
          <label>Limpiar todos</label>
        </label>
      </div>
      <div style="display: table-cell;width: 500px;">
        <div style="display: table;">
          <div ng-repeat="servicioSeleccionado in serviciosSeleccionados track by $index" style="display: table-row; width: 100%;">
            <div style="display: table-cell;text-align: left; width: 100%;">{{servicioSeleccionado.nombre}}</div>
            <div style="display: table-cell;padding-right: 10px;    text-align: left;">{{servicioSeleccionado.valor | currency}}</div>
            <div style="text-align: left" class="btn btn-default" ng-click="deleteServicio($index)">Quitar</div>
          </div>
          <div ng-show="serviciosSeleccionados.length > 0" style="text-align: center;width: 100%;">Total: {{totalMonto | currency}}</div>
        </div>
        <br>
      </div>

    </div>

  </div>

</div>


<br>

<div ng-show = "mostrarMediosPago()" style="
border-style: groove;
border-radius: 6px;
padding-right: 10px;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 10px;
">

  <h4>Medios de Pago</h4>

  <div>
    <label>Monto a pagar: </label>
    <div>{{totalMonto | currency}}</div>
  </div>
  <br>

  <div style="display: table-row;" ng-hide="mediospagoseleccionados.length === mediospago.length">
    <div style="display: table-cell;">Añadir Medio de Pago</div>
    <select  style="display: table-cell; margin-right: 10px;margin-left: 10px;" ng-model="mediopagoAnadido" ng-options="mediopago.nombre for mediopago in mediospago | filter: yaFueAnadido()"></select>
    <label style="display: table-cell; margin-right: 10px;margin-left: 10px;"  class="btn btn-default" ng-click="addMedioPago(mediopagoAnadido)">
        Añadir
    </label>
  </div>

  <div style="display: table; width: 100%">

    <br>
    <div style="display: table-row;" ng-show="mediospagoseleccionados.length === 0 ">Sin medios de pago añadidos.</div>
    <div ng-repeat="mediopago in mediospagoseleccionados track by $index" style="display: table-row;">
      <div style="display: table-cell;">{{mediopago.nombre}}</div>
      <input style="display: table-cell; margin-right: 10px;margin-left: 10px;" number value="totalMonto" ng-model="valoresMediosPago[$index]" ng-change="updateMedioPago($index)" type="text" ></input>
      <input style="display: table-cell; margin-right: 10px;margin-left: 10px;" number ng-model="bauches[$index]" ng-change="updateMedioPago($index)" placeholder="*Número de Bauche" ng-disabled="mediopago.needBauche === false" type="text"></input>
      <label ng-show="totalMonto - mediosPagoMonto > 0" style="display: table-cell" class="btn btn-default" ng-click="completarMedioPago($index)">
          Completar
      </label>
      <label style="display: table-cell" class="btn btn-default" ng-click="limpiarMedioPago($index)">
          Limpiar
      </label>
      <label style="display: table-cell" class="btn btn-default" ng-click="deleteMedioPago($index)">
          Quitar
      </label>
    </div>
    <br>
  </div>

  <div>
    <br>
    <label ng-show="totalMonto - mediosPagoMonto > 0">Restante:</label>
    <label ng-show="totalMonto - mediosPagoMonto < 0">Devuelta:</label>
    <div ng-show="totalMonto - mediosPagoMonto > 0"> {{totalMonto - mediosPagoMonto | currency}} </div>
    <div ng-show="totalMonto - mediosPagoMonto < 0"> {{(totalMonto - mediosPagoMonto)*-1 | currency}} </div>
  </div>

</div>

<br>

<div ng-show="mostrarVistaServicioAdicional() && serviciosSeleccionados.length > 0 && (mediospagoseleccionados.length > 0 || arriendoSeleccionado !== undefined)">
  <button ng-if="mostrarMediosPago()" class="btn btn-primary" ng-click="finishFactura()">
    Facturar inmediatamente
  </button>
  <button ng-if="arriendoSeleccionado !== undefined && needFactura == false" class="btn btn-primary" ng-click="anadirALaCuenta()">
    Añadir a la cuenta
  </button>
  <button class="btn btn-danger" ng-click="init()">
    Cancelar
  </button>
</div>

<br>
<div ng-show="mostrarMediosPago()">

  <label>Factura resultante para la impresión:</label>

  <div style="display: table; text-align: left; margin: 0 auto;" id="printThis">
    <div id = "printSectionChild">
      <div style="margin: 0 0 0 70px; width: 100%;">
        <img src="./resources/statics/images/logo.png" style="position: absolute; opacity: 0.15;" height="200" width="200">
      </div>
      <div style="text-align: center;">
        <label>
          FACTURA
        </label>
      </div>
      <div style="text-align: center;">
        <label>
          HOTEL TURIN - La Ceja
        </label>
      </div>
      <div style="text-align: center;">
        <div>
          RNT: 25465
        </div>
      </div>
      <br>
      <div style="display: table-row;">
        <label style="display: table-cell;">
          Fecha Facturación:
        </label>
        <div style="display: table-cell;">
          {{facturaResultante.fecha | date:'yyyy-MM-dd hh:mm a'}}
        </div>
      </div>
      <br>
      <div style="display: table-row;">
        <label style="display: table-cell;">
          Factura:
        </label>
        <div style="display: table-cell;">
          {{facturaResultante.id}}
        </div>
      </div>
      <div style="display: table-row;">
        <label style="display: table-cell;">
          Nombre:
        </label>
        <div style="display: table-cell;">
          {{cliente.nombreCompleto}}
        </div>
      </div>
      <div style="display: table-row;">
        <label style="display: table-cell;">
          Cédula:
        </label>
        <div style="display: table-cell;">
          {{cliente.id.id}}
        </div>
      </div>
      <div style="display: table-row;">
        <label style="display: table-cell;">
          Servicios Adicionales:
        </label>
        <div style="display: table-cell;">
        </div>
      </div>
      <div style="display: table-row;" ng-repeat="servicio in serviciosSeleccionados track by $index">
        <div style="display: table-cell;">
        </div>
        <div style="display: table-cell;">
          {{servicio.nombre}}
        </div>
        <div style="display: table-cell;">
          &nbsp;&nbsp;{{servicio.valor | currency}}
        </div>
      </div>
      <div style="display: table-row;">
        <label style="display: table-cell;">
          Total:
        </label>
        <div style="display: table-cell;">
        </div>
        <div style="display: table-cell;">
          &nbsp;&nbsp;{{totalMonto | currency}}
        </div>
      </div>
      <div style="display: table-row;">
        <label style="display: table-cell;">
          Devuelta:
        </label>
        <div style="display: table-cell;" ng-show="totalMonto - mediosPagoMonto < 0">
          {{(totalMonto - mediosPagoMonto)*-1 | currency}}
        </div>
        <div style="display: table-cell;" ng-show="totalMonto - mediosPagoMonto >= 0">
          $0.00
        </div>
      </div>
      <div style="display: table-row;">
        <label style="display: table-cell;">
          Medios de Pago:
        </label>
        <div style="display: table-cell;">
        </div>
      </div>
      <div style="display: table-row;" ng-repeat="medioPago in mediospagoseleccionados track by $index">
        <div style="display: table-cell;">
        </div>
        <div style="display: table-cell;">
          {{medioPago.nombre}}
        </div>
        <div style="display: table-cell;">
          {{medioPago.valor | currency}}
          <br>
          <div ng-if="medioPago.needBauche == true">#Num Bauche: {{medioPago.numBauche}}</div>
        </div>
      </div>
      <br>
      <div style="text-align: center;">
        <div>
          Telefono: 5683199
        </div>
      </div>
      <div style="text-align: center;">
        <div>
          Correo: hotelturin17@gmail.com
        </div>
      </div>
      <div style="text-align: center;">
        <div>
          Instagram/Facebook: @hotelturinlaceja
        </div>
      </div>
      <div style="text-align: center;">
        <div>
          Dirección: Calle 19 #21-55
        </div>
      </div>
    </div>
  </div>

</div>
